.footer {
    background-size: cover;
    margin-top: calc(2 * var(--span-xl));
    padding-top: calc(3 * var(--span-xl));
    padding-bottom: calc(3 * var(--span-xl));

    @media only screen and (max-width: 600px) {
        padding-left: var(--span-m);
        padding-right: var(--span-m);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        font-family: var(--Clash-Display);
        font-size: calc(var(--size-xl) + 7px);
        font-weight: var(--weight-lg);
        line-height: 48px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white-900);
        text-transform: capitalize;

        @media only screen and (max-width: 600px) {
            font-size: var(--size-l);
            line-height: 31px;
        }
    }

    &__paragraph {
        margin-top: var(--span-s);
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: var(--weight-sm);
        line-height: 22px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white-900);

        @media only screen and (max-width: 600px) {
            font-size: var(--size-s);
            line-height: 15px;
        }
    }

    &__link--box {
        display: flex;
        margin-top: var(--span-m);
        justify-content: center;
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        border: 1px solid #FFFFFF;
        padding: calc(var(--span-xs) + 5px) var(--span-m);
        font-family: var(--Satoshi);
        font-size: calc(var(--size-xs) + 1px);
        font-weight: var(--weight-xlg);
        line-height: 17px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white-900);
        transition: all 300ms;
        text-transform: capitalize;

        &:hover {
            background: var(--white-900);
            color: var(--black-900);
        }
    }
}