.logo {
    font-family: var(--Pilcrow-Rounded);
    font-size: calc(var(--size-xl) - 2px);
    font-weight: var(--weight-xlg);
    line-height: 35px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--white-900);
}