.about {
    background: var(--black-900);
    min-height: 100vh;

    &__heading {
        margin-top: calc(3 * var(--span-xl));
        font-family: var(--Clash-Display);
        font-size: calc(3 * (var(--size-2xl) + 2px));
        font-weight: var(--weight-xlg);
        line-height: 185px;
        letter-spacing: 0.07em;
        text-align: center;
        color: var(--black-900);
        text-shadow: -1px 1px 0 var(--white-900),
            1px 1px 0 var(--white-900),
            1px -1px 0 var(--white-900),
            -1px -1px 0 var(--white-900);

        @media only screen and (max-width: 1200px) {
            font-size: calc(2 * var(--size-2xl));
            line-height: 102px;
        }

        @media only screen and (max-width: 990px) {
            margin-top: var(--span-2xl);
            font-size: calc(var(--size-2xl) + var(--size-xs));
            line-height: 74px;
        }
    }
}