.contact {
    background: var(--black-900);
    min-height: 100vh;

    &__paragraph {
        margin-top: calc(3 * var(--span-2xl));
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: var(--weight-sm);
        line-height: 22px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--white-500);

        @media only screen and (max-width: 1024px) {
            margin-top: var(--span-2xl);
        }
    }

    &__heading {
        font-family: var(--Clash-Display);
        font-size: 135px;
        font-weight: 700;
        line-height: 185px;
        letter-spacing: 0.07em;
        text-align: left;
        color: var(--white-900);

        @media only screen and (max-width: 1320px) {
            font-size: 120px;
            line-height: 175px;
        }

        @media only screen and (max-width: 1024px) {
            font-size: 100px;
            line-height: 125px;
        }

        @media only screen and (max-width: 600px) {
            font-size: 56px;
            line-height: 69px;
        }
    }

    &__me {
        position: relative;
        padding-bottom: 2px;
        border-bottom: 5px solid var(--white-900);
    }

    &__icon {
        position: absolute;
        top: -10px;
        right: -10px;
        line-height: 0;

        @media only screen and (max-width: 600px) {
            top: -5px;
            right: -15px;
        }
    }

    &__form {
        margin-top: var(--span-xl);
    }

    &__group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--span-xl);

        @media only screen and (max-width: 600px) {
            gap: var(--span-m);
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__box {
        width: 100%;
    }

    &__label {
        font-family: var(--Satoshi);
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #E7E7E7;
    }

    &__input {
        margin-top: 8px;
        background: none;
        width: 100%;
        display: block;
        outline: none;
        border: 1px solid #E7E7E7;
        height: 50px;
        padding: var(--span-xs) var(--span-s);
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: #E7E7E7;
        transition: all 300ms;

        &:focus {
            transition: all 300ms;
            border: 2px solid #E7E7E7;
        }
    }

    &__wrapper {
        &:not(:last-child) {
            margin-bottom: var(--span-xl);

            @media only screen and (max-width: 600px) {
                margin-bottom: var(--span-m);
            }
        }
    }

    &__textarea {
        margin-top: 8px;
        background: none;
        width: 100%;
        display: block;
        outline: none;
        border: 1px solid #E7E7E7;
        padding: var(--span-xs) var(--span-s);
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: #E7E7E7;
        transition: all 300ms;

        &:focus {
            transition: all 300ms;
            border: 2px solid #E7E7E7;
        }
    }

    &__button {
        height: 50px;
        padding: calc(var(--span-xs) + 5px) var(--span-2xl);
        text-align: center;
        font-family: var(--Clash-Display);
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        color: #141414;
        background: #E7E7E7;
        outline: none;
        border: 1px solid #E7E7E7;
        transition: all 300ms;
        text-transform: uppercase;
        width: 100%;
        cursor: pointer;

        &:focus {
            transition: all 300ms;
            border: 1px solid #E7E7E7;
        }
    }
}