*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --unit: 10px;
  --Satoshi: 'Satoshi', sans-serif;
  --Pilcrow-Rounded: 'Pilcrow Rounded', sans-serif;
  --Clash-Display: 'Clash Display', sans-serif;

  //font size

  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;

  //spacing

  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);

  //font weights
  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;



  --black-900: #141414;
  --black-700: #1E1E1E;
  --black-500: #777777;
  --black-300: #7C7C7C;
  --black-200: #B8B8B8;
  --white-400: #F2F2F2;
  --white-500: #E7E7E7;
  --white-900: #ffffff;
  --red-900: #f70404;
  --green-500: #079c52cc;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--Satoshi);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  overflow-x: hidden;

  &.no-scroll {
    overflow-y: hidden;
  }
}